@media (min-width: 1200px) {
	.container {
		max-width: 990px;
	}
}

@media (max-width: 1249px) {
	.nav__item a {
		
		padding: 10px 17px;
		
	}
	.tabs .nav-pills .nav-link {
		font-size: 15px;
		padding: .5rem .5rem;
	}
	
}
@media (max-width: 990px) {
	.footer__copyright {
		margin-top: 10px;
		text-align: center;
	}
	.footer__title {
		text-align: center;
	}
	.footer__links {
		flex-wrap: nowrap;
	}
	.footer__social {
		text-align: center;
	}
	.footer-row {
		flex-direction: column;
		align-items: center;
	}
	.footer-logo img {
		margin:0 auto;
	}
	.wrapper {
		padding-bottom: 360px;
	}
}

@media (max-width: 959px) {
	.nav__item a {
		
		padding: 8px 6px;
		
	}
	.header .nav {
		font-size: 12px;
	}
	
	
	
	

}

@media (max-width: 767px) {
	.tabs .nav-item {
		width: 50%;
	}

	
}



@media (max-width: 720px) {
	.header__search {
		display: none;
	}
	.nav__mobile {
		display: block;	
		margin-left: auto;
		
}
	.header .nav {
		display: none;
	}

	.tabs .tab-content {
		margin-top: 20px;
	}

	.tabs .tabs__title {
		
		font-size: 30px;
	}
	.tabs .tabs__text {
		
		
		padding-bottom: 100px;
	}

}

@media (max-width: 576px) {
	.tabs .tabs__title {
		font-size: 25px;
	}
	.tabs .tab-content {
		height: 234px;
	}
	.articles__content {
		flex-direction: column;
		align-items: center;
	}
	.articles__img {
		margin-bottom: 15px;
	}
	.articles__text {
		padding: 0 20px;
	}
	.articles__link {
		margin-top: 10px;
	}
	.articles__item {
		margin-bottom: 30px;
	}
	
	.footer__links {
		flex-wrap: wrap;
	}
	.footer__link {
		text-align: center;
	}
	.wrapper {
		padding-bottom: 400px;
	}
}

@media (max-width: 400px) {
	
	.tabs .nav-item {
		width: 25%;
		text-align: center;
	}
	.tabs .tabs__num-text {
		display: none;
	}



}
